nav{
    background-color: purple;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
nav img{
    height:auto;
    width:40px;
    margin-right:10px;
}
nav #title{
    display:flex;
    align-items: center;
}
nav >h2{
    font-size: medium;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.FormInput{
    display:flex;
    justify-content: center;
    margin-top:40px;
}
#topText{
    width:44vw;
    margin-left:5vw;
    margin-right:1vw;
}
#botText{
    width:44vw;
    margin-left:1vw;
    margin-right:5vw;
}
#submit{
    width:90vw;
    margin-left:5vw;
    margin-right:5vw;
    margin-top:20px;
}
body{
    padding:0;
    margin:0;
}
.meme {
    position: relative;
}
.meme img {
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}