.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    outline: 5px dotted green;
}
img{
    object-fit: cover;
    width: 60px;
}
.nav-items > li{
    display:inline-block;
    padding: 10px;
    list-style: none;
    font-family: sans-serif;
}
.main{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px solid green;
    background-color: gray;
}